.contactInAbout {
  background-color: var(--color-bg-dark);
  min-height: fit-content;
  padding: 1rem;

  z-index: 55;
}

.contactInAboutItems {
  display: grid;
  grid-template-columns: 19rem 19rem;
  align-items: center;
  justify-content: start;
  width: 100%;
  max-width: 1300px;
  min-height: fit-content;
  gap: 1rem;
  cursor: pointer;
}

.contactInAboutItem {
  background-color: var(--color-bg-lighter);
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  transition: all 0.3s ease;
  gap: 1rem;
  min-height: 4rem;
}

.contactInAboutItem:hover {
  transform: scale(1.1);
  background-color: var(--color-bg-lighter-hover);
}

.contactInAboutItem h2 {
  font-size: 1.7rem;
  color: rgb(243, 243, 243);
  font-weight: 300;
}

.contactInAboutItem i {
  color: black;
}

.sticker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem;
  background-color: var(--yellow);
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}

@media (max-width: 900px) {
  .contactInAboutItems {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: 1300px;
    min-height: fit-content;
    gap: 4rem;
    cursor: pointer;
  }
}
